.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	transition: all .2s;
}

.primary {
	color: white;
	background-color: slateblue;
}
.primary:hover {
	background-color: rgb(66, 55, 133);
}

.ghost {
	color: black;
	background-color: lightskyblue;
}
.ghost:hover {
	background-color: rgb(63, 148, 201);
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}

.down {
	transform: rotate(90deg);
	transition: all .5s;

}

.primary svg{
	fill: white;
}